<!--<div class="section no-pad-bot" id="index-banner">-->
<div>
    <div style="background: url(<%= path_to_image('dreamhack2004.jpg') %>) no-repeat center; background-size: 100%; " class="section no-pad-bot background" id="index-banner">
      </div>
      <div class="container text">
            <br><br>

            <h1 class="header center orange-text">We can host your LAN party</h1>

            <div class="row center">
              <h5 class="header col s12 white-text">no matter how big it is</h5>
            </div>
            <div class="row center">
              <a href="#" class="btn-large waves-effect waves-light orange">Get Started</a>
            </div>
            <br><br>
        </div>

</div>
