@import "materialize/components/prefixer";
@import "materialize/components/mixins";
@import "materialize/components/color";
@import "variables";
@import "materialize/components/normalize";
@import "materialize/components/global";
@import "materialize/components/icons-material-design";
@import "materialize/components/grid";
@import "materialize/components/navbar";
@import "materialize/components/roboto";
@import "materialize/components/typography";
@import "materialize/components/cards";
@import "materialize/components/toast";
@import "materialize/components/tabs";
@import "materialize/components/tooltip";
@import "materialize/components/buttons";
@import "materialize/components/dropdown";
@import "materialize/components/waves";
@import "materialize/components/modal";
@import "materialize/components/collapsible";
@import "materialize/components/materialbox";
@import "materialize/components/form";
@import "materialize/components/table_of_contents";
@import "materialize/components/sideNav";
@import "materialize/components/preloader";
@import "materialize/components/slider";
@import "materialize/components/date_picker/default.scss";
@import "materialize/components/date_picker/default.date.scss";
@import "materialize/components/date_picker/default.time.scss";
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}
nav {
  .nav-wrapper {
    margin-left: 10px;
  }
}
.background {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  overflow: hidden;
  display: block;

  height: 800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
.text {
  position: fixed;
  z-index: 9999;
  width:80%;
  margin: 0 0 0 -40%;
  left:50%;

}
